################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Salesforce/v15
/.vs
/SalesForce/.vs
