@section Scripts {
<script src="~/app/Shared/runtime.js"></script>
<script src="~/app/Shared/polyfills.js"></script>
<script src="~/app/Shared/styles.js"></script>
<script src="~/app/Shared/vendor.js"></script>
<script src="~/app/Shared/main.js"></script>
}

<app-root></app-root>
<h1>Home Page</h1>